body {
    color:white;
    background: rgb(47 32 30);
    margin: 3px;
}

header {
    border-bottom: solid 2px rgb(168 34 32);
    padding: 17px;
    font-size: 26px;
    color: rgb(245 69 14)
}

section{
    background: rgb( 23, 45, 64);
    padding-bottom: 50px;
}